################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/ToDoListMetro/v14
/bin/Debug
/obj/Debug/App.g.i.cs
/obj/Debug
/ToDoList/bin/Debug
/ToDoList/obj/Debug
/ToDoList/Properties
/packages
/Prism.InteractivityExtension/bin/Debug
/Prism.InteractivityExtension/obj/Debug
/Prism.InteractivityExtension/Properties
/Prism.InteractivityExtension.MahAppsPack/obj/Debug
/Prism.InteractivityExtension.MahAppsPack/Properties
