################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

*.suo
/bin/Debug
/obj/Debug
/packages
/Installer/Debug
/Prism.InteractivityExtension.MahAppsPack/obj/Debug
/Prism.InteractivityExtension.MahAppsPack/obj/Release
/Prism.InteractivityExtension/bin/Debug
/Prism.InteractivityExtension/bin/Release
/Prism.InteractivityExtension/obj/Debug
/Prism.InteractivityExtension/obj/Release
/ToDoList/bin/Debug
/ToDoList/bin/Release
/ToDoList/obj/Debug
/ToDoList/obj/Release
/ToDoListMetroInstaller.sln
